.container__footer {
  margin-top: 50px;
  /* height: 40vh; */
}
.footer__left {
  padding: 50px;
}
.footer__right {
  padding: 50px;
  color: rgb(116, 114, 114);
}
.social_links {
  display: flex;
}
.row {
  background-color: lightgray;
}
/* @media screen and(max-width:480px) {
  .container__footer {
    height: 60vh;
  }
} */
